@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
/* line 17, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, scss/_base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 12, scss/_base.scss */
html {
  overflow-y: scroll;
}

/* line 17, scss/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, scss/_layout.scss */
.content-container {
  margin: 30px;
}
/* line 46, ../../../lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.content-container:before, .content-container:after {
  content: "";
  display: table;
}
/* line 50, ../../../lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.content-container:after {
  clear: both;
}

/* line 61, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 7, scss/_type.scss */
h1 {
  margin: 1em 0 0.5em 0;
  font-size: 5em;
  line-height: 1.05em;
}

/* line 13, scss/_type.scss */
h2 {
  margin: 1em 0 0.2em 0;
  font-size: 3.5em;
  line-height: 1.07143em;
}

/* line 19, scss/_type.scss */
h3 {
  font-size: 2em;
  line-height: 1.125em;
}

/* line 24, scss/_type.scss */
p {
  margin-bottom: 1.5em;
}

/* line 29, scss/_type.scss */
ul, ol {
  margin: 0 0 1.5em 1.5em;
}

/* line 34, scss/_type.scss */
ul {
  list-style-type: disc;
}
/* line 38, scss/_type.scss */
ul > ul {
  list-style-type: circle;
}

/* line 44, scss/_type.scss */
ol {
  list-style-type: decimal;
}
/* line 48, scss/_type.scss */
ol > ol {
  list-style-type: lower-alpha;
}

/* line 54, scss/_type.scss */
pre, code, .sql-table, .sql-editor > textarea {
  font-family: 'Source Code Pro', monospace;
}

/* line 59, scss/_type.scss */
pre, code, .sql-editor > textarea {
  background: #0f354d;
  color: #efefef;
}

/* line 66, scss/_type.scss */
pre {
  padding: 1.5em;
  margin: 1.5em 0;
}

/* line 73, scss/_type.scss */
p > code, li > code {
  padding: 1px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.875em;
  line-height: 1.71429em;
}

/* line 8, scss/_header.scss */
header {
  background-color: #0772a1;
  color: #fff;
  height: 50px;
}
/* line 16, scss/_header.scss */
header > * {
  display: inline-block;
  max-height: 50px;
}

/* line 28, scss/_header.scss */
.logo {
  margin: 2px 0 0 12px;
}

/* line 37, scss/_header.scss */
.navbar, .subnav {
  list-style-type: none;
  margin: 0;
}
/* line 42, scss/_header.scss */
.navbar > li, .subnav > li {
  float: left;
  margin-right: 32px;
}
/* line 48, scss/_header.scss */
.navbar a, .subnav a {
  color: #fff;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 60, scss/_header.scss */
.navbar a:hover, .subnav a:hover {
  color: #fbc4ac;
}

/* line 72, scss/_header.scss */
.subnav {
  background: #032d3f;
  line-height: 30px;
  height: 30px;
  text-align: right;
}
/* line 79, scss/_header.scss */
.subnav > li {
  float: none;
  display: inline;
}

/* line 1, scss/_nsf.scss */
#nsfinfo {
  float: right;
  margin: 9px 9px 16px 0px;
}

/* line 6, scss/_nsf.scss */
#nsfText {
  margin: 15px 5px 0px 9px;
  float: right;
}

/* line 11, scss/_nsf.scss */
#nsfLogo {
  display: inline-block;
  *display: inline;
  width: 48px;
  Height: 48px;
  background-image: url(/images/BW_small_NSF.png);
  background-repeat: no-repeat;
}

/* line 2, scss/_state.scss */
.clear {
  clear: both;
}

/* line 7, scss/_state.scss */
.topic-not-started {
  color: #f00 !important;
}

/* line 12, scss/_state.scss */
.topic-in-progress {
  color: #3Af !important;
}

/* line 2, scss/_forms.scss */
label {
  display: block;
}

/* line 11, scss/_forms.scss */
input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
}

/* line 17, scss/_forms.scss */
.adbc-form {
  margin: 0 auto;
}

/* line 22, scss/_forms.scss */
.form-row {
  margin: 0 0 2em 0;
}

/* line 27, scss/_forms.scss */
.required {
  color: #f00;
}

/* line 2, scss/_survey-table.scss */
.survey-table {
  margin: 1em auto;
  border-spacing: separate;
}
/* line 7, scss/_survey-table.scss */
.survey-table th {
  font-weight: bold;
  text-align: center;
}
/* line 13, scss/_survey-table.scss */
.survey-table td {
  margin-top: 0em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0em;
}

/* line 19, scss/_survey-table.scss */
.banded {
  background: #efefef;
}

/* line 2, scss/_util.scss */
.stretch-to-fit {
  min-width: 100%;
  height: auto;
}

/* line 8, scss/_util.scss */
.scale-to-fit {
  width: 100%;
  height: auto;
}

/* line 14, scss/_util.scss */
.shrink-to-fit {
  max-width: 100%;
  height: auto;
}

/* line 20, scss/_util.scss */
.pull-left {
  float: left;
}

/* line 25, scss/_util.scss */
.pull-right {
  float: right;
}

/* line 30, scss/_util.scss */
.clear {
  clear: both;
}

/* line 35, scss/_util.scss */
.hidden {
  display: none;
}

/* line 43, scss/_util.scss */
header {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 49, scss/_util.scss */
header > * {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  /* line 62, scss/_util.scss */
  .visible-phone {
    display: none;
  }

  /* line 75, scss/_util.scss */
  .hidden-tablet {
    display: none;
  }

  /* line 84, scss/_util.scss */
  .hidden-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  /* line 96, scss/_util.scss */
  .hidden-phone {
    display: none;
  }

  /* line 101, scss/_util.scss */
  .visible-tablet {
    display: none;
  }

  /* line 106, scss/_util.scss */
  .hidden-tablet {
    display: none;
  }

  /* line 111, scss/_util.scss */
  .visible-desktop {
    display: none;
  }

  /* line 116, scss/_util.scss */
  .hidden-desktop {
    display: none;
  }
}
/* line 10, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#sticky-footer-root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -230px;
}
/* line 18, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#sticky-footer-root #sticky-footer-root-end {
  height: 230px;
}

/* line 20, ../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 230px;
}

/* line 9, scss/_footer.scss */
footer {
  background-color: #022230;
  color: #fff;
}
/* line 14, scss/_footer.scss */
footer a {
  color: #a13607;
}

/* line 20, scss/_footer.scss */
.footer-images {
  text-align: center;
  position: relative;
  top: 30px;
}
/* line 26, scss/_footer.scss */
.footer-images > li {
  display: inline;
  margin: 0 30px;
}

/* line 4, scss/_home.scss */
.home {
  position: relative;
  overlay: visible;
  height: 626px;
  background-image: url('/../images/home-background.jpg?1410471833');
  background-position: 50% 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 18, scss/_home.scss */
.introduction {
  font-size: 32px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  max-width: 500px;
  padding: 8px;
  position: absolute;
  text-align: right;
  top: 50%;
  right: 30px;
}

/* line 4, scss/_floating-image.scss */
.floating-image {
  -webkit-box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.5);
}

/* line 9, scss/_floating-image.scss */
.floating-image.pull-left {
  margin: 0 12px 4px 0;
}

/* line 14, scss/_floating-image.scss */
.floating-image.pull-right {
  margin: 0 0 4px 12px;
}

/* line 2, scss/_sql-table.scss */
.sql-table {
  margin: 1.5em auto;
  border-collapse: collapse;
}
/* line 4, scss/_sql-table.scss */
.sql-table th {
  background-color: #0772a1;
  color: #fff;
  text-align: center;
}
/* line 11, scss/_sql-table.scss */
.sql-table td {
  text-align: right;
}
/* line 16, scss/_sql-table.scss */
.sql-table th, .sql-table td {
  padding: 0.75em;
  border: #032d3f 1px solid;
}

/* line 4, scss/_sql-editor.scss */
.sql-editor {
  border: #CCC solid 1px;
  position: relative;
}
/* line 9, scss/_sql-editor.scss */
.sql-editor textarea {
  resize: none;
  position: relative;
  height: 80px;
  width: 100%;
}
/* line 17, scss/_sql-editor.scss */
.sql-editor output {
  display: block;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 2s ease-in-out;
  -moz-transition: max-height 2s ease-in-out;
  -o-transition: max-height 2s ease-in-out;
  transition: max-height 2s ease-in-out;
}
/* line 27, scss/_sql-editor.scss */
.sql-editor .filled {
  max-height: 10000px;
  -webkit-transition: max-height 2s ease-in-out;
  -moz-transition: max-height 2s ease-in-out;
  -o-transition: max-height 2s ease-in-out;
  transition: max-height 2s ease-in-out;
}

/* line 36, scss/_sql-editor.scss */
.sql-editor-execute {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0.1em 0.2em;
  color: #fff;
  background-color: #f55c19;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 8px;
}
/* line 48, scss/_sql-editor.scss */
.sql-editor-execute:active {
  background-color: #a13607;
}

/* line 54, scss/_sql-editor.scss */
.sql-editor-error {
  color: red;
  margin: 8px;
}

/* line 2, scss/_mobile-denial-message.scss */
.mobile-denial-message {
  text-align: center;
  margin: 20px;
}
