$workspace-width: 960px;
$header-height: 50px;
$footer-height: 230px;
$navbar-item-margin: 32px;

// typography
$base-font-size: 16px;
$round-to-nearest-half-line: true;

// color scheme controls
$cs-primary: #0772A1;
$cs-scheme: complement;
$cs-color-model: rgb;
