$workspace-width: 960px;
$header-height: 50px;
$footer-height: 230px;
$navbar-item-margin: 32px;
$tablet-trigger: 768px;

$code-editor-height: 80px;

// typography
$base-font-size: 16px;
$round-to-nearest-half-line: true;
$code-bg-color: #0F354D;
$code-fg-color: #efefef;

// color scheme controls
$cs-primary: #0772A1;
$cs-scheme: complement;
$cs-color-model: rgb;
