#header
{
    position:relative;
    padding:0px;
    margin:0px;
}

#adbclogo
{
    display:inline-block;
    margin:32px 0px 0px 26px;
    *display:inline;
    zoom:1;
    overflow:hidden;
}

#headerText
{
    display:inline-block;
    *display:inline;
    position:relative;
    top:-40px;
    margin:11px;
    zoom:1;
}

#headerTitle
{
    *font-size:22pt;
    color:#15918E;
}

#headerSubtitle
{
    color:#A99138;
}
