@import "compass/css3/transition";

header
{
    background-color: cs-primary();
    color: #fff;
    @extend %parent-vertical-align;
    height: $header-height;

    & > *
    {
        @extend %vertical-align;
        display: inline-block;
        max-height: $header-height;
    }
}

.logo
{
    padding: 2px 0;
}

.navbar, .subnav
{
    list-style-type: none;
    margin: 0;

    & > li
    {
        float: left;
        margin-right: $navbar-item-margin;
    }

    & a 
    {
        color: #fff;
        text-decoration: none;
        
        @include transition-property(color);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-in);

        &:hover
        {
            color: lighten(cs-secondary(), 50%);
        }
    }
}


.subnav
{
    background: darken(cs-primary(), 20%);
    line-height: 30px;
    height: 30px;
    text-align: right;

    & > li
    {
        float: none;
        display: inline;
    }
}
