#main
{
    display:block;
    zoom:1;
    width:$workspace-width;
    margin:0px auto;
    background-color:#fff;
}

#contentWindowContainer
{
    position:relative;
    padding:5px;
    background-color:#fff;
    text-align:center;
    height:100%;
}
