#mainmenu
{
    margin:-4px 0px 0px 0px;
    padding:0px;
    height:40px;
}

#mainmenu ul li
{
    padding:6px 7px 9px 7px;
}

#mainmenu a
{
    Color:#000;
    text-decoration:none;
    text-transform:uppercase;
}

#submenuBar
{
    position:absolute;
    top:210px;
    width:98.5%;
    background-color:Black;
    height:39px;
    z-index:1;
}

#submenu
{
    position:relative;
    width:100%;
    z-index:100;
    color:#CCF9F8;
    height:39px;
}

#submenu a
{
    text-decoration:none;
    text-transform:uppercase;
    color:#CCF9F8;
    padding:4px;
}

#submenu ul li
{
    position:relative;
    top:-3px;
}

ul.inline-menu
{
    *position:relative;
    *top:12px;
    *display:inline;
    zoom:1;
    list-style-type:none;
    white-space:nowrap;
    margin:0px;
    
}

ul.inline-menu li
{
    *float:left;
    *display:inline;
    display:inline-block;
    margin:0px 10px 0px 0px;
    zoom:1;
}

.submenuSelected
{
    background-color:#15918E;
}

.submenuSpacer
{
    position:relative;
    display:inline-block;
    *display:inline;
    Margin:0px 10px 0px 0px;
    width:1px;
    height:16px;
    background-image:url(/images/Margin.bmp);
}
