#nsfinfo{
    float:right;
    margin:9px 9px 16px 0px;
}

#nsfText{
    margin:15px 5px 0px 9px;
    float:right;
}

#nsfLogo{
    display:inline-block;
    *display:inline;
    width:48px;
    Height:48px;
    background-image:url(/images/BW_small_NSF.png);
    background-repeat:no-repeat;
}
