@import "compass/css3/transition";

.sql-editor
{
    border: #CCC solid 1px;
    position: relative;

    textarea
    {
        resize: none;
        position: relative;
        height: $code-editor-height; 
        width: 100%;
    }

    output
    {
        display: block;
        width: 100%;
        max-height: 0;
        overflow: hidden;

        @include single-transition(max-height, 2s, ease-in-out);
    }

    .filled
    {
        max-height: 10000px;
        @include single-transition(max-height, 2s, ease-in-out);
    }
}


// Button to execute SQL code.
.sql-editor-execute
{
    @include border-radius(3px);
    padding: 0.1em 0.2em;
    color: #fff;
    background-color: lighten(cs-secondary(), 20%);
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 8px;
    right: 8px;

    &:active
    {
        background-color: cs-secondary();
    }
}

.sql-editor-error
{
    color: red;
    margin: 8px;
}
