.clear
{
    clear:both;
}

.selected
{
    background-color:#FBB03B;
}

.larger
{
    font-size:xx-large;
}

.large
{
    font-size:larger;
}

.white
{
    color:white;
}

.bold
{
    font-weight:bolder;
}

.clear
{
    clear:all;
}
