.stretch-to-fit
{
    min-width: 100%;
    height: auto;
}

.scale-to-fit
{
    width: 100%;
    height: auto;
}

.shrink-to-fit
{
    max-width: 100%;
    height: auto;
}

.pull-left
{
    float: left;
}

.pull-right
{
    float: right;
}

.clear
{
    clear: both;
}

.hidden
{
    display: none;
}


// use on parent elements of %vertical-align
// to counteract blurry renders.
%parent-vertical-align
{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// used for both tablet and desktop displays
@media only screen and (min-width: $tablet-trigger)
{
    .visible-phone
    {
        display: none;
    }

    .hidden-phone
    {
    }

    .visible-tablet
    {
    }

    .hidden-tablet
    {
        display: none;
    }

    .visible-desktop
    {
    }

    .hidden-desktop
    {
        display: none;
    }
}

@media only screen and (max-width: $tablet-trigger)
{
    .visible-phone
    {
    }

    .hidden-phone
    {
        display: none;
    }

    .visible-tablet
    {
        display: none;
    }

    .hidden-tablet
    {
        display: none;
    }

    .visible-desktop
    {
        display: none;
    }

    .hidden-desktop
    {
        display: none;
    }
}

