@import "compass/css3/transition";

// Contains navigation and branding.
// Colored according to primary color of scheme,
// but note that the color property presumes the
// background color will contrast with white.
header
{
    @extend %parent-vertical-align;

    background-color: cs-primary();
    color: #fff;
    height: $header-height;

    & > *
    {
        @extend %vertical-align;
        display: inline-block;
        max-height: $header-height;
    }
}



// ADBC logo located in left of .navbar
// This should be the first child of <header>
.logo
{
    margin: 2px 0 0 12px;
}



// Basically horizontal lists of links.
// Define link spacing in _config.scss
.navbar, .subnav
{
    list-style-type: none;
    margin: 0;

    & > li
    {
        float: left;
        margin-right: $navbar-item-margin;
    }

    & a 
    {
        color: #fff;
        text-decoration: none;
        @extend %hover-tint-to-secondary;
    }
}


// Contrary to the name of this file, .subnav
// needs to appear below <header> in order
// to not violate the layout of the primary
// navbar.
.subnav
{
    background: darken(cs-primary(), 20%);
    line-height: 30px;
    height: 30px;
    text-align: right;

    & > li
    {
        float: none;
        display: inline;
    }
}
