label
{
    display: block;
}

// Prevent labels next to radio buttons
// or checkboxes from falling on their
// own line thanks to the display: block above.
input[type="radio"] + label,
input[type="checkbox"] + label
{
    display: inline-block;
}


.adbc-form
{
    margin: 0 auto;
}

.form-row
{
    margin: 0 0 2em 0;
}

.required
{
    color: #f00;
}
